<!DOCTYPE html>



<% include ./layout %>

<style>

        body {



                background-image: url("/styles/index.jpg");

                background-repeat: no-repeat, repeat;

        }

</style>


<h1  style="margin-top:80px">Login/Register to add your favourite  bands

</h1>



</html>